* {
    margin: 0;
    padding: 0
}

#game_screen {
    position: relative;
    overflow: hidden;
    background-color: #E4CFB4;
    /* background-image: url(../img/AIR\ HOCKEY\ TABLE.png); */
}

.toast {
    visibility: hidden;
    min-width: 200px;
    min-height: 20px;
    background-color: #084fba;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 26px;
    font-size: 17px;
    z-index: 1;
    transform: translateX(-50%);
    /* Center the toast dynamically */
    overflow: hidden;
}

.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.9s 2.5s;
    animation: fadein 0.5s, fadeout 0.9s 2.5s;
}


@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 26px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 26px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 26px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 26px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}